.container {
    margin: 1rem auto;
    padding: 0 2rem;
}

#animation {
    width: 25em;
    margin: 3em;
}

#result-title {
    background-color: #7646c1;
    margin-bottom: 1.5em;
    padding: 0.7em;
    padding-left: 1em;
    padding-top: 1em;
}

div.result-textbox {
    text-align: left !important;
    vertical-align: middle;
    background-color: #d9ccee;
    height: 480px;
    /* padding: 2rem; */
    /* max-width: 40em; */
    width: 40em;
    margin: 2rem 0rem 2rem 2rem;
}

div.result-textbox .result-text {
    margin: 1em 1em 1em 1em;
    color: #845ac7;
    max-width: 100%;
    font-family: monospace;
    margin: 1em 1.5em 1em 2.2em;
}
