.bg-light {
    background-color: #dbedff!important;
}

.navbar-brand {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.nav > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-right:15px;
}

.nav-item {
    padding-right: 0.5rem;
}


.nav a{
/* color: white !important; */
    font-size: 1.2em !important;
}

.navbar-brand {
/* color: white !important; */
    font-size: 1.8em !important;
}

.btn {
    width: 11rem;
    margin-left: 1em;
}

.title {
    /* background-color: #f6ebdb; */
    background-color: #f8f9fa;
    padding: 1em;
    /* color: #475562; */
    color: #676186;
    text-align: left !important;
    /* font-style: italic; */
    /* font-size: revert; */
}

.title-centered {
    text-align: center !important;
}

.cnt {
    padding: 1em;
    background-color: #f8f9fa;
}


/* #div-buttons {
    background-color: #f8f9fa
} */

/* #div-buttons {
    text-align: left !important;
    margin-left: 10%;
    margin-right: 10%;
} */

div.inline { 
    display: inline-block; 
    vertical-align: top;

}
.clearBoth { clear:both; }

img {
    width: -webkit-fill-available;
    vertical-align: top;
}

.cts {
    max-height:90%;
    vertical-align: top;
}

/* .demo-ct {
    width: 40%;
    height: 600px;
    padding:2%;
}

#demo-ct-animation {
    width: 40%;
    height: 600px;
    padding:2%;
}

#demo-ct-graph {
    width: 50%;
    background-color: #d2d2f6; 
    border-style: solid;
    border-color: #8d8d8d;
    border-width: 1px;
}


.figs {
    margin-top: 20%;
} */