{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    
    <div class="title title-centered" >
        <h1>Multi-Agent Path Finding</h1>
        <h6>via CBS & it's variants</h6>
    </div>
    <div class="container" id="div-buttons">
        <a type="button" class="btn btn-lg btn-primary" href="/demo" style="width: 20rem;"><span class="glyphicon glyphicon-download"></span> Try it Out Yourself!</a>
    </div>
    <div class="container" id="demo-instance">
        
        <img src="img/fig21.gif" alt="demo" id="animation">
    </div>

    <!-- <div class="container" id="generated-instance">
        
        <img src="{{ figure }}" alt="demo" id="animation">

        ref to use https://stackoverflow.com/questions/46785507/python-flask-display-image-on-a-html-page

    </div> -->

 

    <!-- <div class="container">
        {% if message %}
            <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="/submit" method="POST">
            <div>

                <input type="text" name="message" placeholder="Say something...">
                <input type="submit" value="submit">
            </div>
        </form>
    </div> -->
</div>


{% endblock %}