{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
<div class="container">
    <img src="img/fig21.gif" alt="demo">
</div>

<div class="container">
    {% if message %}
        <p class="message">{{ message | safe }}</p>
    {% endif %}
    <form action="/submit" method="POST">
        <div>

            <input type="text" name="message" placeholder="Say something...">
            <input type="submit" value="submit">
        </div>
    </form>
</div>
</div>
{% endblock %}